<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>EurekeLogisticsAPI</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        h1 {
            color: #333333;
            margin-top: 100px;
        }

        p {
            color: #666666;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1> <%= title %></h1>
    <p>API for eureka logistics</p>
</body>
</html>

